Lab1/temp.txt
Lab1/valgrind-output.txt
Lab1/bin/
Lab1/valgrind-out.txt
Lab1/results/
Lab2/bin/
Lab2/*.o
Lab3/bin/
Lab3/~$simple-hashTimes.xlsx
Lab3/~$b3-Report-PetersonJ.docx
Lab4/target/
Lab4/logs/
utils/glfw-3.3/
utils/mpich-3.3.1/
utils/valgrind-3.15.0/
Lab5/utils/glfw-3.3/
Lab5/utils/mpich-3.3.1/
Lab5/valgrind-3.15.0/
