Lab1/temp.txt
Lab1/valgrind-output.txt
Lab1/bin/
Lab1/valgrind-out.txt
Lab1/results/
Lab2/bin/
Lab2/*.o
Lab3/bin/
.DS_Store
Lab3/.DS_Store
Lab2/.DS_Store
Lab1/.DS_Store
temp/.DS_Store
Lab3/~$simple-hashTimes.xlsx
Lab3/~$b3-Report-PetersonJ.docx
Lab4/target/
Lab4/logs/
